<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>作品集-sushi4</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar fixed-top navbar-expand-md custom-red">
  <div class="container d-block">
    <div class="text-center"><a class="navbar-brand" href="#"><img src="https://raw.githubusercontent.com/shuchi-chuang/my-site/505a5bb0536c9799eb3b06ab8de78eaa22438d69/sushi網頁17.png" alt="" style="height: 100px"/></a></div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarMenu">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a class="nav-link" href="#">店舖一覽</a></li>
        <li class="nav-item"><a class="nav-link" href="#section_menu">菜單</a></li>
        <li class="nav-item"><a class="nav-link" href="#app">活動公告</a></li>
        <li class="nav-item"><a class="nav-link" href="#content">聯絡我們</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="jumbotron rounded-0">
  <input id="toggle" type="checkbox" hidden="hidden"/>
  <label for="toggle">
    <div class="image-container"><img class="image1" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/9cfa08d45b053f66bb3164f465e469f323f38924/sushi網頁1-2_工作區域%201.png"/><img class="image2" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/9cfa08d45b053f66bb3164f465e469f323f38924/sushi網頁1-2-02.png"/></div>
  </label>
</header>
<section id="section_menu">
  <div class="container">
    <div class="col-sm-12">菜單</div>
    <div class="line"></div>
    <div class="carousel-wrapper">
      <button class="btn-prev"><</button>
      <div class="carousel-track">
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-03.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-09.png" alt=""/></div>
          <h5>鮭魚卵軍艦</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-04.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-10.png" alt=""/></div>
          <h5>鮭魚海苔飯卷</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-05.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-11.png" alt=""/></div>
          <h5>鮮蝦鮭魚手捲</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-06.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-12.png" alt=""/></div>
          <h5>鮭魚大腹壽司</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-07.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-13.png" alt=""/></div>
          <h5>玉子壽司</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-08.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/d33986aab1400d074be53e06a4bdeb48483ab4be/sushi網頁3-14-14.png" alt=""/></div>
          <h5>赤生蝦子壽司</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/e3bd95b0786000b04743fadbb260c4da81c00065/sushi網頁19-24-19.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/e3bd95b0786000b04743fadbb260c4da81c00065/sushi網頁19-24-22.png" alt=""/></div>
          <h5>鮪魚鮭魚卵卷</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/e3bd95b0786000b04743fadbb260c4da81c00065/sushi網頁19-24-20.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/e3bd95b0786000b04743fadbb260c4da81c00065/sushi網頁19-24-23.png" alt=""/></div>
          <h5>鮪魚細卷</h5>
        </div>
        <div class="carousel-item">
          <div class="img-wrapper"><img class="default" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/e3bd95b0786000b04743fadbb260c4da81c00065/sushi網頁19-24-21.png" alt=""/><img class="hover" src="https://raw.githubusercontent.com/shuchi-chuang/my-site/e3bd95b0786000b04743fadbb260c4da81c00065/sushi網頁19-24-24.png" alt=""/></div>
          <h5>迷你鮪魚飯糰</h5>
        </div>
      </div>
      <button class="btn-next">></button>
    </div>
  </div>
</section>
<div id="app">
  <div class="col-sm-12">活動公告
    <div class="line"></div>
  </div>
  <div class="classbox" v-if="classes.length" v-for="cls in classes">
    <div class="teacher" v-bind:style="'background-image:url('+cls.owner.profileImageUrl+')'"></div>
    <div class="top">
      <div class="classpicture" v-bind:style="'background-image:url('+cls.coverImage.url+')'"></div>
      <div class="tag">熱銷中</div>
      <div class="bookbtn"><i class="fa fa-bell-o"></i></div>
    </div>
    <div class="bottom">
      <h1 class="classtitle">{{cls.title}}</h1>
      <div class="texts">
        <div class="pricerow">
          <div class="lastday">活動剩<span class="orange">{{ Math.max(0, parseInt((new Date(cls.proposalDueTime) - new Date('2025/04/15')) / 1000 / 60 / 60 / 24)) }} 天</span></div>
        </div>
        <div class="nowpeople">觀看人數<span class="orange">{{cls.successCriteria.numSoldTickets}} 人</span></div>
      </div>
      <div class="orangebar"></div>
    </div>
  </div>
</div>
<div class="classpicture" v-bind:style="'background-image:url(' + cls.coverImage.url + ')'"></div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<footer class="jumbotron rounded-0" id="content">
  <div class="container">
    <div class="col-sm-12">聯絡我們</div>
    <div class="line"></div>
    <input class="form-control" placeholder="留言"/>
    <button class="btn btn-default">送出</button>
    <input class="form-control" placeholder="居住縣市"/>
    <button class="btn btn-default">立即訂位</button><br/><a class="fa fa-facebook-square"></a><a class="fa fa-instagram"></a><a class="fa fa-envelope"></a>
  </div>
</footer>
<div id="final">
  <h5 class="a">© SUSHICHUANG TAIWAN CO., LTD. ALL RIGHTS RESERVED.</h5>
  <h5 class="b">網站使用前需知｜隱私政策聲明</h5>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
